################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Code/.vs/VisionInspectCollectionSystem
/Code/bin/Debug
/Code/obj/Debug
